.App {
  text-align: center;
}

.container {
  display: flex;
  padding: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  border-radius: 25px;
  padding: 2%;
  max-width: 200px;
}

.card__avatar {
  max-width: 150px;
  margin: 0 auto;
}
